@import "tailwindcss";

#root {
  min-height: 100dvh;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  color: #213547;
}